.main {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: #650086;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}